<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <div id="root"></div>
{% endblock %}
<script src="{{ asset('main.js') }}" type="module"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
